<div class="container">
  <h1 class= "text-center"><%=@restaurant.name %></h1>
  <div class = "bg-info text-center mb-2 p-2 ">
    <div class="border border-primary rounded"> Address: <%=@restaurant.address %></div>
    <div class="border border-primary rounded"> Phone Number: <%=@restaurant.phone_number == nil ?  "N/A" : @restaurant.phone_number %></div>
    <div class="border border-primary rounded"> Category: <%=@restaurant.category.capitalize %></div>
  </div>
  <% (Review.all.select { |x| x.restaurant_id == params[:id].to_i }).each do |x| %>
    <div class = "bg-white p-2 mb-2">
      <p>
        <% (x.rating).times do %>
          <i class= "fas fa-star"></i>
        <% end %>
        <% (5-x.rating).times do %>
          <i class= "far fa-star"></i>
        <% end %>
      </p>
      <p><%= x.content%></p>
    </div>
  <% end %>

  <%= link_to 'Leave a review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
  <%= link_to "Back to restaurants", restaurants_path, class: "btn btn-primary" %>

</div>
